APP_PATH=./app
ENV_PATH=./docker-env
DATA_PATH=/tmp

MYSQL_DATABASE=dev_db
MYSQL_USER=dev_user
MYSQL_PASSWORD=dev_passwd
MYSQL_ROOT_PASSWORD=root_passwd
MYSQL_PORT=3306

NGINX_HTTP_PORT=8800
NGINX_HTTPS_PORT=4443
